<EditForm Model="ChangePassword" OnValidSubmit="OnValidSubmit" class="formBorder magin-top-15">
    <DataAnnotationsValidator />
    <h3 class="text-center h3-style">Change Password</h3>
    <div class="row form-group">
        <div class="col-6 text-right">
            <label class="magin-top-5">Current Password:</label>
        </div>
        <div class="col-6">
            <RadzenPassword Placeholder="Enter current password" @bind-Value="@ChangePassword.CurrentPassword" />
            <ValidationMessage For="@(() => ChangePassword.CurrentPassword)" />
        </div>
    </div>
    <div class="row form-group">
        <div class="col-6 text-right">
            <label class="magin-top-5">New Password:</label>
        </div>
        <div class="col-6">
            <RadzenPassword Placeholder="Enter new password..." @bind-Value="@ChangePassword.NewPassword" />
            <ValidationMessage For="@(() => ChangePassword.NewPassword)" />
        </div>
    </div>
    <div class="row form-group">
        <div class="col-6 text-right">
            <label class="magin-top-5">Confirm Password:</label>
        </div>
        <div class="col-6">
            <RadzenPassword Placeholder="Enter confirm password..." @bind-Value="@ChangePassword.ConfirmPassword" />
            <ValidationMessage For="@(() => ChangePassword.ConfirmPassword)" />
        </div>
    </div>
    <div class="row">
        <div class="col-6"></div>
        <div class="col-6">
            <RadzenButton type="submit" Text="@ButtonText" ButtonStyle="ButtonStyle.Secondary" class="buttonHover" />
        </div>
    </div>
</EditForm>

@code {
    [Parameter] public ChangePassword ChangePassword { get; set; }
    [Parameter] public string ButtonText { get; set; }
    [Parameter] public EventCallback OnValidSubmit { get; set; }
}
