@page "/exports"
@inject HttpClient _http
@inject NavigationManager _navigationManager
@attribute [Authorize(Roles = nameof(Role.StorageWorker))]

<SpinLoader IsLoading="isLoading">
    <LoadingTemplate>
        <div class="row col-12">
            <Chase Center="true" Color="#1E90FF" Size="70px"></Chase>
        </div>
    </LoadingTemplate>
    <ContentTemplate>
        <RadzenButton Click="((args) => AddNew())" ButtonStyle="ButtonStyle.Success" Text="Add New" class="magin-bottom-15">
            <span class="oi oi-plus" aria-hidden="true"></span> Add New Storage Export
        </RadzenButton>
        <RadzenGrid @ref="grid"
                    Data="@(productCategory == null ? 
                            exports : 
                            exports.Where(x => x.Product.Category == productCategory))"
                    TItem="StorageExport"
                    AllowFiltering="true"
                    FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                    AllowSorting="true"
                    AllowPaging="true"
                    PageSize="10">
            <Columns>
                <RadzenGridColumn TItem="StorageExport" Property="FieldWorker.LastName" Title="Field Worker">
                    <Template Context="storageExport">
                        @storageExport.FieldWorker.Name @storageExport.FieldWorker.MiddleName @storageExport.FieldWorker.LastName
                    </Template>
                </RadzenGridColumn>
                <RadzenGridColumn TItem="StorageExport" Property="Product.Name" Title="Product Name" />
                <RadzenGridColumn TItem="StorageExport" Property="Product.Code" Title="Product Code" />
                <RadzenGridColumn TItem="StorageExport" Property="Product.Category" Title="Product Category">
                    <FilterTemplate>
                        <RadzenDropDown @bind-Value="@productCategory"
                                        TextProperty="Text"
                                        ValueProperty="Value"
                                        Style="width:100%"
                                        AllowClear="true"
                                        Data="@(Enum.GetValues(typeof(ProductCategory)).Cast<ProductCategory>().Select(t => new { Text = $"{t}", Value = t }))" />
                    </FilterTemplate>
                </RadzenGridColumn>
                <RadzenGridColumn TItem="StorageExport" Property="Product.StorageQuantity" Title="Product Storage Quantity" />
                <RadzenGridColumn TItem="StorageExport" Property="Quantity" Title="Imported Quantity" />
            </Columns>
        </RadzenGrid>
    </ContentTemplate>
</SpinLoader>

@code {
    bool isLoading = true;
    IList<StorageExport> exports;
    RadzenGrid<StorageExport> grid;
    ProductCategory? productCategory = null;

    protected override async Task OnInitializedAsync()
    {
        var user = await _http.GetJsonAsync<AppUser>(Routes.User.CurrentLoggedUser);

        var queryString = GetQuery(new StorageExportSearchRequest
        {
            StorageWorkerId = user.Id
        });
        exports = await _http.GetJsonAsync<IList<StorageExport>>(Routes.StorageExport.Root + queryString);

        isLoading = false;
        StateHasChanged();
    }

    void AddNew()
    {
        _navigationManager.NavigateTo("/exports/addnew");
    }

    private string GetQuery(StorageExportSearchRequest request)
    {
        List<string> parameters = new List<string>();

        if (!string.IsNullOrWhiteSpace(request.ProductCode))
            parameters.Add($"ProductCode={request.ProductCode}");
        if (!string.IsNullOrWhiteSpace(request.ProductName))
            parameters.Add($"ProductName={request.ProductName}");
        if (!string.IsNullOrWhiteSpace(request.FieldWorkerName))
            parameters.Add($"FieldWorkerName={request.FieldWorkerName}");
        if (!string.IsNullOrWhiteSpace(request.FieldWorkerLastName))
            parameters.Add($"FieldWorkerLastName={request.FieldWorkerLastName}");
        if (request.ProductId.HasValue)
            parameters.Add($"ProductId={request.ProductId}");
        if (request.StorageWorkerId.HasValue)
            parameters.Add($"StorageWorkerId={request.StorageWorkerId}");
        if (request.FieldWorkerId.HasValue)
            parameters.Add($"FieldWorkerId={request.FieldWorkerId}");

        var queryString = string.Empty;
        if (parameters.Any())
        {
            queryString = $"?{string.Join("&", parameters)}";
        };

        return queryString;
    }
}
