@page "/fetchdata"
@using VMSM.Contracts
@using VMSM.Contracts.Entities
@using VMSM.Contracts.Requests
@using System.Collections.Generic
@using VMSM.Contracts.Enums
@inject HttpClient Http

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (user == null)
{

    <p>@exMess</p>
    <p>@exMess1</p>
}
else
{

    <p><em>@user.Town</em></p>
    <p><em>@user.Line1</em></p>
    <p><em>@user.ZipCode</em></p>
    <p>@exMess1</p>
}

@code {
    private WeatherForecast[] forecasts;
    private Address user = null;
    private string exMess;
    private string exMess1;
    private List<User> users = new List<User>();
    private string queryString;

    protected override async Task OnInitializedAsync()
    {
        //forecasts = await Http.GetJsonAsync<WeatherForecast[]>(Routes.Test.Root);
        //var id = "3";
        //var userTmp = await Http.GetJsonAsync<User>(Routes.User.ById.Replace("{id}", id));




        queryString = GetQuery(new SearchAddressRequest
        {
            Town = "ku",
            ZipCode = "12"
        });
        //users = await Http.GetJsonAsync<List<User>>("api/users" + queryString);

        //########### Post
        //var userTmp = new User
        //{
        //    Name = "Martin",
        //    LastName = "Test",
        //    Email = "martin@m.com",
        //    Password = "pass123",
        //    PhoneNumber = "075123456",
        //    Role = Role.Admin,
        //    AddressId = 1
        //};

        //var address = new Address
        //{
        //    Line1 = "test addres",
        //    Town = "Kuman",
        //    ZipCode = 1200
        //};

        //var id = await Http.SendJsonAsync<int>(HttpMethod.Post, Routes.Address.Root, address);
        //var addresses = await Http.GetJsonAsync<List<Address>>(Routes.Address.Root + queryString);
        //addresses[0].Line1 = "update";
        //addresses[0].Town = "Kumanovo";
        //addresses[0].SetAudit(1);
        //var id = await Http.SendJsonAsync<int>(HttpMethod.Put, Routes.Address.ById.Replace("{id}", addresses[0].Id.ToString()), addresses[0]);
        //user = await Http.GetJsonAsync<Address>(Routes.Address.ById.Replace("{id}", id.ToString()));


        //userTmp.SetAudit(1);

        //var userId = await Http.SendJsonAsync<int>(HttpMethod.Post, Routes.User.Root, userTmp);
        //user = await Http.GetJsonAsync<User>(Routes.User.ById.Replace("{id}", userId.ToString()));

        // ############# put
        //userTmp.LastName = "Milutinovic";
        //userTmp.MiddleName = "M";
        //userTmp.SetAudit(1);

        //await Http.SendJsonAsync(HttpMethod.Put, Routes.User.ById.Replace("{id}", userTmp.Id.ToString()), userTmp);

        //user = await Http.GetJsonAsync<User>(Routes.User.ById.Replace("{id}", id));

        await Http.DeleteAsync(Routes.Address.ById.Replace("{id}", "2"));
    }

    private string GetQuery(SearchAddressRequest request)
    {
        List<string> parameters = new List<string>();

        if (!string.IsNullOrWhiteSpace(request.Town))
            parameters.Add($"Town={request.Town}");

        if (!string.IsNullOrWhiteSpace(request.ZipCode))
            parameters.Add($"ZipCode={request.ZipCode}");

        if (!string.IsNullOrWhiteSpace(request.Line1))
            parameters.Add($"Line1={request.Line1}");


        var queryString = string.Empty;
        if (parameters.Any())
        {
            queryString = $"?{string.Join("&", parameters)}";
        };

        return queryString;
    }

}
